BookCatalog/BookCatalog.UI/Service References/AuthorService/AuthorService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63753/Services/AuthorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BookCatalog.Components.ViewModels" />
  <xs:import schemaLocation="http://localhost:63753/Services/AuthorService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:63753/Services/AuthorService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/BookCatalog.Infrastructure.Filtration" />
  <xs:element name="GetAllAuthors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAuthorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BookCatalog.Components.ViewModels" minOccurs="0" name="GetAllAuthorsResult" nillable="true" type="q1:ArrayOfAuthorViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorsCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAuthorsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthors">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sorts" nillable="true" type="q2:ArrayOfKeyValueOfstringListSortDirectionXCNG_S_S1U" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BookCatalog.Infrastructure.Filtration" minOccurs="0" name="filters" nillable="true" type="q3:ArrayOfCustomFilter" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BookCatalog.Components.ViewModels" minOccurs="0" name="GetAuthorsResult" nillable="true" type="q4:ArrayOfAuthorViewModel" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBooks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBooksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBooksResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BookCatalog.Components.ViewModels" minOccurs="0" name="GetAuthorResult" nillable="true" type="q5:AuthorViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Manage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BookCatalog.Components.ViewModels" minOccurs="0" name="authorVM" nillable="true" type="q6:AuthorViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ManageResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopAuthors">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BookCatalog.Components.ViewModels" minOccurs="0" name="searchModel" nillable="true" type="q7:SearchTopAuthorsViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopAuthorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BookCatalog.Components.ViewModels" minOccurs="0" name="GetTopAuthorsResult" nillable="true" type="q8:ArrayOfTopAuthorViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>