BookCatalog/BookCatalog.UI/Service References/AuthorService/AuthorService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BookCatalog.Components.ViewModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BookCatalog.Components.ViewModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAuthorViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthorViewModel" nillable="true" type="tns:AuthorViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthorViewModel" nillable="true" type="tns:ArrayOfAuthorViewModel" />
  <xs:complexType name="AuthorViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Books" nillable="true" type="tns:ArrayOfShortBookViewModel" />
      <xs:element minOccurs="0" name="BooksCount" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SecondName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorViewModel" nillable="true" type="tns:AuthorViewModel" />
  <xs:complexType name="ArrayOfShortBookViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShortBookViewModel" nillable="true" type="tns:ShortBookViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShortBookViewModel" nillable="true" type="tns:ArrayOfShortBookViewModel" />
  <xs:complexType name="ShortBookViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rating" type="xs:int" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShortBookViewModel" nillable="true" type="tns:ShortBookViewModel" />
  <xs:complexType name="SearchTopAuthorsViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeginDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchTopAuthorsViewModel" nillable="true" type="tns:SearchTopAuthorsViewModel" />
  <xs:complexType name="ArrayOfTopAuthorViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TopAuthorViewModel" nillable="true" type="tns:TopAuthorViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTopAuthorViewModel" nillable="true" type="tns:ArrayOfTopAuthorViewModel" />
  <xs:complexType name="TopAuthorViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SecondName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalRating" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TopAuthorViewModel" nillable="true" type="tns:TopAuthorViewModel" />
</xs:schema>