BookCatalog/BookCatalog.Services/Service References/BookService/BookService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BookCatalog.Components.ViewModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BookCatalog.Components.ViewModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63753/Services/BookService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:63753/Services/BookService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Web.Mvc" />
  <xs:complexType name="ArrayOfBookViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookViewModel" nillable="true" type="tns:BookViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookViewModel" nillable="true" type="tns:ArrayOfBookViewModel" />
  <xs:complexType name="BookViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Authors" nillable="true" type="tns:ArrayOfAuthorViewModel" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AuthorsIds" nillable="true" type="q1:ArrayOfint" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Web.Mvc" minOccurs="0" name="AuthorsOptions" nillable="true" type="q2:ArrayOfSelectListItem" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PagesCount" type="xs:int" />
      <xs:element minOccurs="0" name="PublishedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Rating" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookViewModel" nillable="true" type="tns:BookViewModel" />
  <xs:complexType name="ArrayOfAuthorViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthorViewModel" nillable="true" type="tns:AuthorViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthorViewModel" nillable="true" type="tns:ArrayOfAuthorViewModel" />
  <xs:complexType name="AuthorViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Books" nillable="true" type="tns:ArrayOfShortBookViewModel" />
      <xs:element minOccurs="0" name="BooksCount" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SecondName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorViewModel" nillable="true" type="tns:AuthorViewModel" />
  <xs:complexType name="ArrayOfShortBookViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShortBookViewModel" nillable="true" type="tns:ShortBookViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShortBookViewModel" nillable="true" type="tns:ArrayOfShortBookViewModel" />
  <xs:complexType name="ShortBookViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rating" type="xs:int" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShortBookViewModel" nillable="true" type="tns:ShortBookViewModel" />
</xs:schema>