BookCatalog/BookCatalog.UI/Service References/BookWebService/BookWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://bookcatalogwebservice.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://bookcatalogwebservice.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://bookcatalogwebservice.org/">
      <s:element name="GetBooksCount">
        <s:complexType />
      </s:element>
      <s:element name="GetBooksCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetBooksCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllBooks">
        <s:complexType />
      </s:element>
      <s:element name="GetAllBooksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllBooksResult" type="tns:ArrayOfBookViewModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBookViewModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BookViewModel" nillable="true" type="tns:BookViewModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BookViewModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PublishedDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="PagesCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Rating" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Authors" type="tns:ArrayOfAuthorViewModel" />
          <s:element minOccurs="0" maxOccurs="1" name="AuthorsIds" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="AuthorsOptions" type="tns:ArrayOfSelectListItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAuthorViewModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AuthorViewModel" nillable="true" type="tns:AuthorViewModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AuthorViewModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecondName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BooksCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Books" type="tns:ArrayOfShortBookViewModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfShortBookViewModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ShortBookViewModel" nillable="true" type="tns:ShortBookViewModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ShortBookViewModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Rating" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSelectListItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SelectListItem" nillable="true" type="tns:SelectListItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SelectListItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Disabled" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Group" type="tns:SelectListGroup" />
          <s:element minOccurs="1" maxOccurs="1" name="Selected" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SelectListGroup">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Disabled" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetBooks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sorts" type="tns:ArrayOfSort" />
            <s:element minOccurs="0" maxOccurs="1" name="filters" type="tns:ArrayOfCustomFilter" />
            <s:element minOccurs="1" maxOccurs="1" name="take" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="skip" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSort">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Sort" nillable="true" type="tns:Sort" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Sort">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FieldName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SortDirection" type="tns:ListSortDirection" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ListSortDirection">
        <s:restriction base="s:string">
          <s:enumeration value="Ascending" />
          <s:enumeration value="Descending" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfCustomFilter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CustomFilter" nillable="true" type="tns:CustomFilter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomFilter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberType" type="tns:Type" />
          <s:element minOccurs="0" maxOccurs="1" name="Member" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Operator" type="tns:CustomOperator" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Type" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:MemberInfo" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="MemberInfo" abstract="true" />
      <s:simpleType name="CustomOperator">
        <s:restriction base="s:string">
          <s:enumeration value="Contains" />
          <s:enumeration value="Greater" />
          <s:enumeration value="Less" />
          <s:enumeration value="GreaterOrEqual" />
          <s:enumeration value="LessOrEqual" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetBooksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBooksResult" type="tns:ArrayOfBookViewModel" />
            <s:element minOccurs="1" maxOccurs="1" name="total" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BookExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BookExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BookExistsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBookResult" type="tns:BookViewModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Manage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bookVM" type="tns:BookViewModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ManageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ManageResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="bookId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAuthors">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="bookId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuthorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAuthorsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulateMultiSelectList">
        <s:complexType />
      </s:element>
      <s:element name="PopulateMultiSelectListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopulateMultiSelectListResult" type="tns:ArrayOfSelectListItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetXML">
        <s:complexType />
      </s:element>
      <s:element name="GetXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetXMLResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
      <s:element name="ArrayOfBookViewModel" nillable="true" type="tns:ArrayOfBookViewModel" />
      <s:element name="boolean" type="s:boolean" />
      <s:element name="BookViewModel" nillable="true" type="tns:BookViewModel" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ArrayOfSelectListItem" nillable="true" type="tns:ArrayOfSelectListItem" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBooksCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetBooksCount" />
  </wsdl:message>
  <wsdl:message name="GetBooksCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetBooksCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllBooksSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllBooks" />
  </wsdl:message>
  <wsdl:message name="GetAllBooksSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllBooksResponse" />
  </wsdl:message>
  <wsdl:message name="GetBooksSoapIn">
    <wsdl:part name="parameters" element="tns:GetBooks" />
  </wsdl:message>
  <wsdl:message name="GetBooksSoapOut">
    <wsdl:part name="parameters" element="tns:GetBooksResponse" />
  </wsdl:message>
  <wsdl:message name="BookExistsSoapIn">
    <wsdl:part name="parameters" element="tns:BookExists" />
  </wsdl:message>
  <wsdl:message name="BookExistsSoapOut">
    <wsdl:part name="parameters" element="tns:BookExistsResponse" />
  </wsdl:message>
  <wsdl:message name="GetBookSoapIn">
    <wsdl:part name="parameters" element="tns:GetBook" />
  </wsdl:message>
  <wsdl:message name="GetBookSoapOut">
    <wsdl:part name="parameters" element="tns:GetBookResponse" />
  </wsdl:message>
  <wsdl:message name="ManageSoapIn">
    <wsdl:part name="parameters" element="tns:Manage" />
  </wsdl:message>
  <wsdl:message name="ManageSoapOut">
    <wsdl:part name="parameters" element="tns:ManageResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="GetAuthorsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAuthors" />
  </wsdl:message>
  <wsdl:message name="GetAuthorsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAuthorsResponse" />
  </wsdl:message>
  <wsdl:message name="PopulateMultiSelectListSoapIn">
    <wsdl:part name="parameters" element="tns:PopulateMultiSelectList" />
  </wsdl:message>
  <wsdl:message name="PopulateMultiSelectListSoapOut">
    <wsdl:part name="parameters" element="tns:PopulateMultiSelectListResponse" />
  </wsdl:message>
  <wsdl:message name="GetXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetXML" />
  </wsdl:message>
  <wsdl:message name="GetXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetBooksCountHttpGetIn" />
  <wsdl:message name="GetBooksCountHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetAllBooksHttpGetIn" />
  <wsdl:message name="GetAllBooksHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfBookViewModel" />
  </wsdl:message>
  <wsdl:message name="BookExistsHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BookExistsHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetBookHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBookHttpGetOut">
    <wsdl:part name="Body" element="tns:BookViewModel" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetIn">
    <wsdl:part name="bookId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetOut" />
  <wsdl:message name="GetAuthorsHttpGetIn">
    <wsdl:part name="bookId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAuthorsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PopulateMultiSelectListHttpGetIn" />
  <wsdl:message name="PopulateMultiSelectListHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfSelectListItem" />
  </wsdl:message>
  <wsdl:message name="GetXMLHttpGetIn" />
  <wsdl:message name="GetXMLHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetBooksCountHttpPostIn" />
  <wsdl:message name="GetBooksCountHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetAllBooksHttpPostIn" />
  <wsdl:message name="GetAllBooksHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfBookViewModel" />
  </wsdl:message>
  <wsdl:message name="BookExistsHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BookExistsHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetBookHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBookHttpPostOut">
    <wsdl:part name="Body" element="tns:BookViewModel" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostIn">
    <wsdl:part name="bookId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostOut" />
  <wsdl:message name="GetAuthorsHttpPostIn">
    <wsdl:part name="bookId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAuthorsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PopulateMultiSelectListHttpPostIn" />
  <wsdl:message name="PopulateMultiSelectListHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfSelectListItem" />
  </wsdl:message>
  <wsdl:message name="GetXMLHttpPostIn" />
  <wsdl:message name="GetXMLHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:portType name="BookWebServiceSoap">
    <wsdl:operation name="GetBooksCount">
      <wsdl:input message="tns:GetBooksCountSoapIn" />
      <wsdl:output message="tns:GetBooksCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBooks">
      <wsdl:input message="tns:GetAllBooksSoapIn" />
      <wsdl:output message="tns:GetAllBooksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <wsdl:input message="tns:GetBooksSoapIn" />
      <wsdl:output message="tns:GetBooksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BookExists">
      <wsdl:input message="tns:BookExistsSoapIn" />
      <wsdl:output message="tns:BookExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBook">
      <wsdl:input message="tns:GetBookSoapIn" />
      <wsdl:output message="tns:GetBookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Manage">
      <wsdl:input message="tns:ManageSoapIn" />
      <wsdl:output message="tns:ManageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthors">
      <wsdl:input message="tns:GetAuthorsSoapIn" />
      <wsdl:output message="tns:GetAuthorsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PopulateMultiSelectList">
      <wsdl:input message="tns:PopulateMultiSelectListSoapIn" />
      <wsdl:output message="tns:PopulateMultiSelectListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetXML">
      <wsdl:input message="tns:GetXMLSoapIn" />
      <wsdl:output message="tns:GetXMLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BookWebServiceHttpGet">
    <wsdl:operation name="GetBooksCount">
      <wsdl:input message="tns:GetBooksCountHttpGetIn" />
      <wsdl:output message="tns:GetBooksCountHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBooks">
      <wsdl:input message="tns:GetAllBooksHttpGetIn" />
      <wsdl:output message="tns:GetAllBooksHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="BookExists">
      <wsdl:input message="tns:BookExistsHttpGetIn" />
      <wsdl:output message="tns:BookExistsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBook">
      <wsdl:input message="tns:GetBookHttpGetIn" />
      <wsdl:output message="tns:GetBookHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpGetIn" />
      <wsdl:output message="tns:DeleteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthors">
      <wsdl:input message="tns:GetAuthorsHttpGetIn" />
      <wsdl:output message="tns:GetAuthorsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PopulateMultiSelectList">
      <wsdl:input message="tns:PopulateMultiSelectListHttpGetIn" />
      <wsdl:output message="tns:PopulateMultiSelectListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetXML">
      <wsdl:input message="tns:GetXMLHttpGetIn" />
      <wsdl:output message="tns:GetXMLHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BookWebServiceHttpPost">
    <wsdl:operation name="GetBooksCount">
      <wsdl:input message="tns:GetBooksCountHttpPostIn" />
      <wsdl:output message="tns:GetBooksCountHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBooks">
      <wsdl:input message="tns:GetAllBooksHttpPostIn" />
      <wsdl:output message="tns:GetAllBooksHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="BookExists">
      <wsdl:input message="tns:BookExistsHttpPostIn" />
      <wsdl:output message="tns:BookExistsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBook">
      <wsdl:input message="tns:GetBookHttpPostIn" />
      <wsdl:output message="tns:GetBookHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpPostIn" />
      <wsdl:output message="tns:DeleteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthors">
      <wsdl:input message="tns:GetAuthorsHttpPostIn" />
      <wsdl:output message="tns:GetAuthorsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PopulateMultiSelectList">
      <wsdl:input message="tns:PopulateMultiSelectListHttpPostIn" />
      <wsdl:output message="tns:PopulateMultiSelectListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetXML">
      <wsdl:input message="tns:GetXMLHttpPostIn" />
      <wsdl:output message="tns:GetXMLHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BookWebServiceSoap" type="tns:BookWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBooksCount">
      <soap:operation soapAction="http://bookcatalogwebservice.org/GetBooksCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBooks">
      <soap:operation soapAction="http://bookcatalogwebservice.org/GetAllBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <soap:operation soapAction="http://bookcatalogwebservice.org/GetBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookExists">
      <soap:operation soapAction="http://bookcatalogwebservice.org/BookExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBook">
      <soap:operation soapAction="http://bookcatalogwebservice.org/GetBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Manage">
      <soap:operation soapAction="http://bookcatalogwebservice.org/Manage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://bookcatalogwebservice.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthors">
      <soap:operation soapAction="http://bookcatalogwebservice.org/GetAuthors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateMultiSelectList">
      <soap:operation soapAction="http://bookcatalogwebservice.org/PopulateMultiSelectList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXML">
      <soap:operation soapAction="http://bookcatalogwebservice.org/GetXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BookWebServiceSoap12" type="tns:BookWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBooksCount">
      <soap12:operation soapAction="http://bookcatalogwebservice.org/GetBooksCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBooks">
      <soap12:operation soapAction="http://bookcatalogwebservice.org/GetAllBooks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <soap12:operation soapAction="http://bookcatalogwebservice.org/GetBooks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookExists">
      <soap12:operation soapAction="http://bookcatalogwebservice.org/BookExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBook">
      <soap12:operation soapAction="http://bookcatalogwebservice.org/GetBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Manage">
      <soap12:operation soapAction="http://bookcatalogwebservice.org/Manage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://bookcatalogwebservice.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthors">
      <soap12:operation soapAction="http://bookcatalogwebservice.org/GetAuthors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateMultiSelectList">
      <soap12:operation soapAction="http://bookcatalogwebservice.org/PopulateMultiSelectList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXML">
      <soap12:operation soapAction="http://bookcatalogwebservice.org/GetXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BookWebServiceHttpGet" type="tns:BookWebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetBooksCount">
      <http:operation location="/GetBooksCount" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBooks">
      <http:operation location="/GetAllBooks" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookExists">
      <http:operation location="/BookExists" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBook">
      <http:operation location="/GetBook" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetAuthors">
      <http:operation location="/GetAuthors" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateMultiSelectList">
      <http:operation location="/PopulateMultiSelectList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXML">
      <http:operation location="/GetXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BookWebServiceHttpPost" type="tns:BookWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetBooksCount">
      <http:operation location="/GetBooksCount" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBooks">
      <http:operation location="/GetAllBooks" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookExists">
      <http:operation location="/BookExists" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBook">
      <http:operation location="/GetBook" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetAuthors">
      <http:operation location="/GetAuthors" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateMultiSelectList">
      <http:operation location="/PopulateMultiSelectList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXML">
      <http:operation location="/GetXML" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookWebService">
    <wsdl:port name="BookWebServiceSoap" binding="tns:BookWebServiceSoap">
      <soap:address location="http://localhost:57813/BookWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="BookWebServiceSoap12" binding="tns:BookWebServiceSoap12">
      <soap12:address location="http://localhost:57813/BookWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="BookWebServiceHttpGet" binding="tns:BookWebServiceHttpGet">
      <http:address location="http://localhost:57813/BookWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="BookWebServiceHttpPost" binding="tns:BookWebServiceHttpPost">
      <http:address location="http://localhost:57813/BookWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>