BookCatalog/BookCatalog/Service References/BookService/BookService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63753/Services/BookService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63753/Services/BookService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63753/Services/BookService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BookCatalog.ViewModels.ViewModels" />
      <xsd:import schemaLocation="http://localhost:63753/Services/BookService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:63753/Services/BookService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Web.Mvc" />
      <xsd:import schemaLocation="http://localhost:63753/Services/BookService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.ComponentModel" />
      <xsd:import schemaLocation="http://localhost:63753/Services/BookService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/BookCatalog.Infrastructure.Filtration" />
      <xsd:import schemaLocation="http://localhost:63753/Services/BookService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:63753/Services/BookService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/System.Reflection" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookService_GetBooksCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksCount" />
  </wsdl:message>
  <wsdl:message name="IBookService_GetBooksCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksCountResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_GetAllBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooks" />
  </wsdl:message>
  <wsdl:message name="IBookService_GetAllBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_GetBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooks" />
  </wsdl:message>
  <wsdl:message name="IBookService_GetBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_BookExists_InputMessage">
    <wsdl:part name="parameters" element="tns:BookExists" />
  </wsdl:message>
  <wsdl:message name="IBookService_BookExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_GetBook_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBook" />
  </wsdl:message>
  <wsdl:message name="IBookService_GetBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_Manage_InputMessage">
    <wsdl:part name="parameters" element="tns:Manage" />
  </wsdl:message>
  <wsdl:message name="IBookService_Manage_OutputMessage">
    <wsdl:part name="parameters" element="tns:ManageResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IBookService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_GetAuthors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthors" />
  </wsdl:message>
  <wsdl:message name="IBookService_GetAuthors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorsResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_PopulateMultiSelectList_InputMessage">
    <wsdl:part name="parameters" element="tns:PopulateMultiSelectList" />
  </wsdl:message>
  <wsdl:message name="IBookService_PopulateMultiSelectList_OutputMessage">
    <wsdl:part name="parameters" element="tns:PopulateMultiSelectListResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_GetXML_InputMessage">
    <wsdl:part name="parameters" element="tns:GetXML" />
  </wsdl:message>
  <wsdl:message name="IBookService_GetXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetXMLResponse" />
  </wsdl:message>
  <wsdl:portType name="IBookService">
    <wsdl:operation name="GetBooksCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/GetBooksCount" message="tns:IBookService_GetBooksCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/GetBooksCountResponse" message="tns:IBookService_GetBooksCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/GetAllBooks" message="tns:IBookService_GetAllBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/GetAllBooksResponse" message="tns:IBookService_GetAllBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/GetBooks" message="tns:IBookService_GetBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/GetBooksResponse" message="tns:IBookService_GetBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/BookExists" message="tns:IBookService_BookExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/BookExistsResponse" message="tns:IBookService_BookExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/GetBook" message="tns:IBookService_GetBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/GetBookResponse" message="tns:IBookService_GetBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Manage">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/Manage" message="tns:IBookService_Manage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/ManageResponse" message="tns:IBookService_Manage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/Delete" message="tns:IBookService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/DeleteResponse" message="tns:IBookService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthors">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/GetAuthors" message="tns:IBookService_GetAuthors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/GetAuthorsResponse" message="tns:IBookService_GetAuthors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PopulateMultiSelectList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/PopulateMultiSelectList" message="tns:IBookService_PopulateMultiSelectList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/PopulateMultiSelectListResponse" message="tns:IBookService_PopulateMultiSelectList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/GetXML" message="tns:IBookService_GetXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/GetXMLResponse" message="tns:IBookService_GetXML_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBookService" type="tns:IBookService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBooksCount">
      <soap:operation soapAction="http://tempuri.org/IBookService/GetBooksCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBooks">
      <soap:operation soapAction="http://tempuri.org/IBookService/GetAllBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <soap:operation soapAction="http://tempuri.org/IBookService/GetBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookExists">
      <soap:operation soapAction="http://tempuri.org/IBookService/BookExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBook">
      <soap:operation soapAction="http://tempuri.org/IBookService/GetBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Manage">
      <soap:operation soapAction="http://tempuri.org/IBookService/Manage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IBookService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthors">
      <soap:operation soapAction="http://tempuri.org/IBookService/GetAuthors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateMultiSelectList">
      <soap:operation soapAction="http://tempuri.org/IBookService/PopulateMultiSelectList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXML">
      <soap:operation soapAction="http://tempuri.org/IBookService/GetXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookService">
    <wsdl:port name="BasicHttpBinding_IBookService" binding="tns:BasicHttpBinding_IBookService">
      <soap:address location="http://localhost:63753/Services/BookService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>