BookCatalog/BookCatalog.Services/Service References/AuthorService/AuthorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63753/Services/AuthorService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63753/Services/AuthorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63753/Services/AuthorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BookCatalog.Components.ViewModels" />
      <xsd:import schemaLocation="http://localhost:63753/Services/AuthorService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:63753/Services/AuthorService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.ComponentModel" />
      <xsd:import schemaLocation="http://localhost:63753/Services/AuthorService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/BookCatalog.Infrastructure.Filtration" />
      <xsd:import schemaLocation="http://localhost:63753/Services/AuthorService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:63753/Services/AuthorService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System.Reflection" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthorService_GetAllAuthors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAuthors" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_GetAllAuthors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAuthorsResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_GetAuthorsCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorsCount" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_GetAuthorsCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorsCountResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_GetAuthors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthors" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_GetAuthors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorsResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_GetBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooks" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_GetBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_GetAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthor" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_GetAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_Manage_InputMessage">
    <wsdl:part name="parameters" element="tns:Manage" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_Manage_OutputMessage">
    <wsdl:part name="parameters" element="tns:ManageResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_GetTopAuthors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTopAuthors" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_GetTopAuthors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTopAuthorsResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthorService">
    <wsdl:operation name="GetAllAuthors">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorService/GetAllAuthors" message="tns:IAuthorService_GetAllAuthors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorService/GetAllAuthorsResponse" message="tns:IAuthorService_GetAllAuthors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorsCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorService/GetAuthorsCount" message="tns:IAuthorService_GetAuthorsCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorService/GetAuthorsCountResponse" message="tns:IAuthorService_GetAuthorsCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthors">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorService/GetAuthors" message="tns:IAuthorService_GetAuthors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorService/GetAuthorsResponse" message="tns:IAuthorService_GetAuthors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorService/GetBooks" message="tns:IAuthorService_GetBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorService/GetBooksResponse" message="tns:IAuthorService_GetBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorService/GetAuthor" message="tns:IAuthorService_GetAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorService/GetAuthorResponse" message="tns:IAuthorService_GetAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Manage">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorService/Manage" message="tns:IAuthorService_Manage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorService/ManageResponse" message="tns:IAuthorService_Manage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorService/Delete" message="tns:IAuthorService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorService/DeleteResponse" message="tns:IAuthorService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopAuthors">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorService/GetTopAuthors" message="tns:IAuthorService_GetTopAuthors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorService/GetTopAuthorsResponse" message="tns:IAuthorService_GetTopAuthors_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthorService" type="tns:IAuthorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllAuthors">
      <soap:operation soapAction="http://tempuri.org/IAuthorService/GetAllAuthors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorsCount">
      <soap:operation soapAction="http://tempuri.org/IAuthorService/GetAuthorsCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthors">
      <soap:operation soapAction="http://tempuri.org/IAuthorService/GetAuthors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <soap:operation soapAction="http://tempuri.org/IAuthorService/GetBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthor">
      <soap:operation soapAction="http://tempuri.org/IAuthorService/GetAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Manage">
      <soap:operation soapAction="http://tempuri.org/IAuthorService/Manage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IAuthorService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopAuthors">
      <soap:operation soapAction="http://tempuri.org/IAuthorService/GetTopAuthors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthorService">
    <wsdl:port name="BasicHttpBinding_IAuthorService" binding="tns:BasicHttpBinding_IAuthorService">
      <soap:address location="http://localhost:63753/Services/AuthorService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>